{% extends 'full_layout.html.twig' %}

{% block body %}
    <section id="advice">
        <h2 class="page-header"><a href="#advice">A Word of Advice</a></h2>
        <p>
            Before you go to see your new awesome theme, here are few tips on how to familiarize yourself
            with
            it:
        </p>

        <p>
            <b>Note:</b> LESS files are better commented than the compiled CSS file.
        </p>
    </section>
{% endblock %}

