<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CoverExplorer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="CoverExplorer.Websites" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CoverExplorer.Settings>
            <setting name="CoverGrösse" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="CommentChangeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Comment" serializeAs="String">
                <value />
            </setting>
            <setting name="Debugmodus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Covervorhanden" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CoverSpeicherart" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Webseite" serializeAs="String">
                <value>seekacover</value>
            </setting>
        </CoverExplorer.Settings>
        <CoverExplorer.Websites>
            <setting name="website1" serializeAs="String">
                <value>http://www.seekacover.com/</value>
            </setting>
            <setting name="webseite1stelle1teil1" serializeAs="String">
                <value>&lt;li&gt;&lt;img src="</value>
            </setting>
            <setting name="webseite1stelle1teil2" serializeAs="String">
                <value />
            </setting>
            <setting name="webseite1stelle2teil1" serializeAs="String">
                <value>" title="</value>
            </setting>
            <setting name="webseite1stelle2teil2" serializeAs="String">
                <value> CD Covers"&gt;&lt;/li&gt;</value>
            </setting>
            <setting name="website1search" serializeAs="String">
                <value>http://www.seekacover.com/cd/</value>
            </setting>
            <setting name="website1stelle1" serializeAs="String">
                <value />
            </setting>
            <setting name="website1stelle2" serializeAs="String">
                <value />
            </setting>
            <setting name="schlagworte" serializeAs="String">
                <value />
            </setting>
            <setting name="website1adresse" serializeAs="String">
                <value />
            </setting>
            <setting name="website2search" serializeAs="String">
                <value>http://www.amazon.com/s/keywords=</value>
            </setting>
            <setting name="website2" serializeAs="String">
                <value>http://www.amazon.com/</value>
            </setting>
            <setting name="website2stelle1teil1" serializeAs="String">
                <value>&lt;div id="atfResults" class="list results apsList"&gt;</value>
            </setting>
            <setting name="website2stelle1teil2" serializeAs="String">
                <value />
            </setting>
            <setting name="website2stelle2teil1" serializeAs="String">
                <value>" class="productImage" alt="Product Details"/&gt;&lt;/a&gt;&lt;/div&gt;</value>
            </setting>
            <setting name="website2stelle2teil2" serializeAs="String">
                <value />
            </setting>
            <setting name="website2stelle1" serializeAs="String">
                <value />
            </setting>
            <setting name="website2stelle2" serializeAs="String">
                <value />
            </setting>
            <setting name="website2adresse" serializeAs="String">
                <value />
            </setting>
            <setting name="website3" serializeAs="String">
                <value>http://www.google.com/</value>
            </setting>
            <setting name="website3search" serializeAs="String">
                <value>http://www.google.com/search?site=imghp&amp;tbm=isch&amp;source=hp&amp;biw=1366&amp;bih=667&amp;q=</value>
            </setting>
        </CoverExplorer.Websites>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
