{% macro submit(text, userwrapper = true) %}
    {% if userwrapper %}
        <div class="row">
        <div class="col-xs-offset-7 col-xs-5">
    {% endif %}
    <button class="btn btn-primary btn-block btn-flat" type="submit">{{ text }}</button>
    {% if userwrapper %}
        </div>
        </div>
    {% endif %}
{% endmacro %}